.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toDoListWrap {
    overflow-y: auto;
    margin: 20px 0;
    max-height: 94%;
}

.btn {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    outline: 0;
    border: 0;
    color: white;
    border-radius: 2px;
}

.clearBtn {
    min-height: 38px;
    background-color: #D73737;
}

.clearBtn:hover {
    background-color: #B42C2C;
    cursor: pointer;
}
